<form method="post" action="" class="js-form" data-url="{{ url_for('app.remove_user_group', group_id=group.id, user_id=user.userId)}}">
  <div class="modal-header">
    <h4 class="modal-title">Remove user from group</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to remove {{user.username}} from group?</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" id="submit">Remove user</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>
