<form method="post" action="" class="js-form" data-url="{{ url_for('app.add_user_group', group_id=group.id)}}">
  <div class="modal-header">
    <h4 class="modal-title">Add an user to the group {{group.name}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ui-front">
    <p class="lead"></p>
        {{ form.hidden_tag() }}
        <div class="form-field">{{ form.user_mail.label }} {{ form.user_mail }}</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Add user</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>

<script>
$( "#user_mail" ).autocomplete({
  source: {{user_list |safe }}
});

</script>
