{% extends 'base.html' %}

{% block title %}Permapol{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group">
          <a href="#permissions" data-toggle="tab" class="list-group-item list-group-item-action active">Permissions</a>
          <a href="#members" data-toggle="tab" class="list-group-item list-group-item-action">Group members ({{group.users | length}})</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content card">
        <div class="card-header">
            <h3>Group <i>{{group.name}}</i></h3>
        </div>
        <div class="tab-pane text-style card-body active" id="permissions">
          <h4 style="text-align:center">Linked organism(s)</h4>
          {% if added_organisms %}
          <div class="table-responsive-xl">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col" style="text-align:center;">Organism</th>
                          <th scope="col" style="text-align:center;">Remove</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for orga in added_organisms %}
                    <tr style="text-align:center;">
                        <td>{{orga.name}}</td>
                        <td><button class="btn btn-info js-form" data-url="{{ url_for('app.remove_orga_group', group_id=group.id, orga_id=orga.id)}}"><i class="fas fa-trash"></i></button></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
            </table>
          </div>
          {% else %}
          <div style="text-align:center">No organisms are associated with this group.</div>
          {% endif %}
          <hr>
          <h4 style="text-align:center">Available organisms</h4>
          {% if available_organisms %}
          <div class="table-responsive-xl">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col" style="text-align:center;">Organism</th>
                          <th scope="col" style="text-align:center;">Add</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for orga in available_organisms %}
                    <tr style="text-align:center;">
                        <td>{{orga.name}}</td>
                        <td><button class="btn btn-info js-form" data-url="{{ url_for('app.add_orga_group', group_id=group.id, orga_id=orga.id)}}"><i class="fas fa-plus"></i></button></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
            </table>
          </div>
          {% else %}
          <div style="text-align:center">No organisms are available.</div>
          {% endif %}
        </div>
        <div class="tab-pane text-style card-body" id="members">
          <h4>Current group member(s) <button data-url="{{ url_for('app.add_user_group', group_id=group.id)}}" class="btn btn-info js-form float-right"><i class="fas fa-plus"></i> Add user</button></h4>
          {% if group.users %}
          <br>
          <div class="table-responsive-xl">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col" style="text-align:center;">Username</th>
                          <th scope="col" style="text-align:center;">Remove?</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for user in group.users %}
                    <tr style="text-align:center;">
                        <td>{{user.email}}</td>
                        <td>{% if not current_user == user.email %}
                          <button class="btn btn-danger js-form" data-url="{{ url_for('app.remove_user_group', group_id=group.id, user_id=user.id)}}"><i class="fas fa-trash"></i></button>
                        {% endif%}
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
            </table>
          </div>
          {% else %}
          <p>There are no users in this group</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-group">
      <div class="modal-dialog"><div class="modal-content"></div></div>
  </div>
  </div>
</div>
<br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('app.static', filename='js/groups.js') }}"></script>
{% endblock %}
