{% extends 'base.html' %}

{% block title %}Permapol{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group">
          <a href="#overview" data-toggle="tab" class="list-group-item list-group-item-action active">Overview</a>
          <a href="#admin_groups" data-toggle="tab" class="list-group-item list-group-item-action">Group administration ({{admin_groups | length}})</a>
          <a href="#user_groups" data-toggle="tab" class="list-group-item list-group-item-action">Group membership(s) ({{user_groups | length}})</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content card">
        <div class="tab-pane active text-style card-body" id="overview">
            <div>
                Welcome to the Apollo permission manager.<br>
                You can use this manager to create groups, and share any organisms with the group members.<br>
                They will be able to access and edit your organism, but not share it with other users.<br>
            </div>
            <hr>
            <h4 style="text-align:center">Sharable organisms</h4>
            {% if organisms %}
              <div class="table-responsive-xl">
                <table class="table table-hover">
                  <tbody>
                  {% for organism in organisms %}
                    <tr>
                        <td>{{organism.name}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
                </table>
              </div>
            {% else %}
                <div style="text-align:center">You do not have sharable access to any organisms</div>
            {% endif %}
        </div>
        <div class="tab-pane text-style card-body" id="admin_groups">
          <h2>Group administration <button data-url="{{ url_for('app.create_group')}}" class="btn btn-info js-create float-right"><i class="fas fa-plus"></i> New</button></h2>
          {% if admin_groups %}
          <div class="table-responsive-xl">
              <table class="table table-hover">
                  <thead>
                      <tr style="text-align:center;">
                          <th scope="col">Group name</th>
                          <th scope="col">Members</th>
                          <th scope="col">Organisms</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for group in admin_groups %}
                    <tr style="text-align:center;">
                        <td>{{group.name}}</td>
                        <td>{{group.members}}</td>
                        <td>{{group.organisms}}</td>
                        <td><a class="btn btn-info" href="{{ url_for('app.view_group', id=group.id)}}"><i class="fas fa-external-link-alt"></i> View</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
            </table>
          </div>
          {% else %}
          <br>
          <p>You are not the administrator of any group</p>
          {% endif %}
        </div>
        <div class="tab-pane text-style card-body" id="user_groups">
          <h2>Group membership(s)</h2>
          {% if user_groups %}
          <div class="table-responsive-xl">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col" style="text-align:center;">Group name</th>
                          <th scope="col" style="text-align:center;">Admin(s)</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for group in user_groups %}
                    <tr style="text-align:center;">
                        <td>{{group.name}}</td>
                        <td>{{group.admins}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tr>
            </table>
          </div>
          {% else %}
          <br>
          <p>You are not a member of any custom group</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-group">
      <div class="modal-dialog"><div class="modal-content"></div></div>
  </div>
  </div>
</div>
<br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('app.static', filename='js/create_group.js') }}"></script>
{% endblock %}
